:root {
  --page-background: silver;
  --forestGreen: darkolivegreen;
  --forestGreenBox: 1px solid darkolivegreen;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: rgba(85, 107, 47, 0.1);
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: var(--forestGreen);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: var(--forestGreen);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: rgba(85, 107, 47, 0.25);
  height: 2px;
}

.card-body {
  min-height: 100px;
  user-select: all;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: rgba(85, 107, 47, 0.25);
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: var(--forestGreen);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

#start{
  border-radius: 25px 0 0 25px;
  margin-right: 2px; 
}

#generate {
  border-radius: 0 25px 25px 0;
  margin-left: 2px;
}

.float-right {
  float: right;
}

/* Test for 128 characters */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed rgba(85, 107, 47, 0.3);
  resize: none;
  overflow: hidden;
  user-select: all;
}

/* Responsive design - Desktop first */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
 }
 
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .btn {
    font-size: 0.8rem;
  }
  .card-header{
    text-align: center;
  }
}
